<%= form_for @receita_medica, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Receita Medica</legend>

    <div class="control-group">
      <%= f.label :medico_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :medico_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :paciente_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :paciente_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :historico_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :historico_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :farmacia_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :farmacia_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :data_prescricao, :class => 'control-label' %>
      <div class="controls">
        <%= f.date_select :data_prescricao, :class => 'date_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :status_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :status_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', receita_medicas_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
