<h1>Receitas</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Código</th>
      <th>Médico</th>
      <th>Data de Prescrição</th>
			<th>Paciente</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @receita_medicas.each do |receita_medica| %>
      <tr>
        <td><%= link_to receita_medica.id, receita_medica %></td>
        <td><%= link_to receita_medica.medico.crm , "receita_medica.medico" %></td>
        <td><%= receita_medica.created_at %></td>
				<td><%= link_to receita_medica.paciente.cpf, "receita_medica.paciente" %>
        <td>
          <%= link_to 'Editar', edit_receita_medica_path(receita_medica), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.type == "medico" %>
	<%= link_to 'Nova', new_receita_medica_path, :class => 'btn btn-primary' %>
<% end %>
