<h1>Receita Médica</h1>

<%= flash[:msg] if !flash[:msg].nil? %>

<p>
  <b>Medico</b><br>
  <%= @receita_medica.medico.crm %> - <%= @receita_medica.medico.nome %>
</p>

<p>
  <b>Paciente</b><br>
  <%= @receita_medica.paciente.cpf %>
</p>

<p>
  <b>Status</b><br>
  <%= @receita_medica.status.nome %>
</p>

<p>
  <b>Data prescricao</b><br>
  <%= @receita_medica.created_at.strftime("%d/%m/%Y")  %>
</p>

<h2> Medicamentos </h2>
  <% for item_receita in @receita_medica.item_receitas %>
    <p>
      <strong>Medicamento: </strong><%= item_receita.medicamento.nome %><br>
      <strong>Quantidade: </strong><%= item_receita.quantidade %><br>
      <strong>Posologia: </strong><%= item_receita.posologia %>
    </p>
  <% end %>
<div class="form-actions">
  <%= link_to 'Voltar', receita_medicas_path, :class => 'btn'  %>
  <%= link_to 'Editar', edit_receita_medica_path(@receita_medica), :class => 'btn' if !params[:editable].nil? || (params[:editable]) %>
  <%= button_to 'Vender', {:action => 'vender', :remote => true, :receita => @receita_medica.id, :farmacia => current_user.id } if @receita_medica.pode_ser_vendida? && current_user.tipo == 3 %>
</div>
