<h1>Receita Médica</h1>

<%= flash[:msg] if !flash[:msg].nil? %>

<p>
  <b>Medico</b><br>
  <%= @receita_medica.medico.crm %>
</p>

<p>
  <b>Paciente</b><br>
  <%= @receita_medica.paciente.cpf %>
</p>

<p>
  <b>Status</b><br>
  <%= @receita_medica.status.nome %>
</p>

<p>
  <b>Data prescricao</b><br>
  <%= @receita_medica.created_at %>
</p>

<div class="form-actions">
  <%= link_to 'Voltar', receita_medicas_path, :class => 'btn'  %>
  <%= link_to 'Editar', edit_receita_medica_path(@receita_medica), :class => 'btn' %>
  <%= button_to 'Vender', {:action => 'vender', :remote => true, :receita => @receita_medica.id, :farmacia => current_user.id } if @receita_medica.status.id == Status.find_by_nome('Pendente').id && current_user.tipo == 3 %>
</div>
