<h2>Cadastro</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div>
    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
  </div>

  <div>
    <%= f.label :telefone %>
    <%= f.text_field :telefone %>
  </div>

  <div>
    <%= f.label :sexo %>
    <%= f.select :sexo, User::SEXO, {:prompt => ""}, {:class =>'sexo'} %>
  </div>

  <div>
    <%= f.label :data_nascimento %>
    <%= f.date_select :data_nascimento %>
  </div>


  <div>
    <%= f.label :tipo %>
    <%= f.select :tipo, User::TIPO, {:prompt => ""}, {:class =>'tipo'} %>
  </div>
  

  <div class = "tipo_paciente">

  </div>
  <div class = "tipo_medico">
    <div>
      <%= f.label :crm %>
      <%= f.text_field :crm %>
    </div>
  </div>

  <div class = "tipo_farmacia">
    <div>
      <%= f.label :cnpj %>
      <%= f.text_field :cnpj %>
    </div>
  </div>

  <div class = "endereco">
     <div class="control-group">
          <%= f.label :rua %>
          <%= f.text_field :rua %>
      </div>
      <div class="control-group">
        <%= f.label :numero %>
        <%= f.text_field :numero %>
      </div>
      <div class="control-group">
        <%= f.label :complemento %>
        <%= f.text_field :complemento %>
      </div>
      <div class="control-group">
        <%= f.label :bairro %>
        <%= f.text_field :bairro %>
      </div>
      <div class="control-group">
        <%= f.label :cidade %>
        <%= f.text_field :cidade %>
      </div>
      <div class="control-group">
        <%= f.label :estado %>
        <%= f.text_field :estado %>
      </div>
      <div class="control-group">
        <%= f.label :cep %>
        <%= f.text_field :cep %>
      </div>
  </div>
  <div><%= f.submit "Cadastrar" %></div>
<% end %>


<%= render :partial => "devise/shared/links" %>
