<h1>Lisrtar Farmácias</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Endereco</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @farmacias.each do |farmacia| %>
  <tr>
    <td><%= farmacia.nome %></td>
    <td><%= farmacia.endereco_id %></td>
    <td><%= link_to 'Ver', farmacia %></td>
    <td><%= link_to 'Editar', edit_farmacia_path(farmacia) %></td>
    <td><%= link_to 'Remover', farmacia, confirm: 'Confirmar?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar nova Farmácia', new_farmacia_path %>
