<h1>/Farmacia</h1>

<p>
  <b>Nome</b><br>
  <%= @farmacia.nome %>
</p>

<p>
  <b>Endereco</b><br>
  <%= @farmacia.endereco_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', farmacias_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_farmacia_path(@farmacia), :class => 'btn' %>
  <%= link_to 'Delete', farmacia_path(@farmacia), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
