<h1>Principio Ativos</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @principio_ativos.each do |principio_ativo| %>
      <tr>
        <td><%= principio_ativo.id %></td>
        <td><%= link_to principio_ativo.nome, principio_ativo_path(principio_ativo) %></td>
        <td>
          <%= link_to 'Edit', edit_principio_ativo_path(principio_ativo), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', principio_ativo_path(principio_ativo), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_principio_ativo_path, :class => 'btn btn-primary' %>
