<%= form_for current_user, :html => { :class => 'form-horizontal' } do |f| %>
    <fieldset>
    <legend>Dados de Login</legend>
      <div class="well fields">
        <div class="control-group">
          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.email_field :email %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, ('Senha'), :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password_confirmation, ('Confirmar senha'), :class => 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
      </div>
  </fieldset>

  <% if current_user.tipo == 1 %>
    <h3>Cadastrar Pessoas Autorizadas</h3>
     <%= f.fields_for :autorizados do |builder| %>
      <%= render 'autorizado_fields', :f => builder %>
     <% end %>
           <%= link_to_add_fields "Adicionar CPF da Pessoa Autorizada", f, :autorizados, { :id => 'add_autorizado_link', :class => 'btn btn-info', :style => 'margin-bottom: 20px;' } %>
  <% end %>
  <fieldset>
    <legend>Dados Cadastrais</legend>
      <div class="well fields">
        <div class="control-group">
          <%= f.label :tipo, :class => 'control-label' %>
          <div class="controls">
            <%= f.select :tipo, User::TIPO, {:prompt => ""}, {:class =>'tipo'} %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :nome , :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :nome %>
          </div>
        </div>
        
        <% if current_user.tipo == 1 %>
          <div class = "tipo_paciente">
            <div class="control-group">
              <%= f.label :cpf, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :cpf %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :data_nascimento, :class => 'control-label'%>
              <div class="controls">
                <%= f.date_select :data_nascimento %>
              </div>
            </div>
          </div>
        <% end %>

        <% if current_user.tipo == 2 %>
          <div class = "tipo_medico">
            <div class="control-group">
              <%= f.label :cpf, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :cpf %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :crm, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :crm %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :data_nascimento, :class => 'control-label' %>
              <div class="controls">
                <%= f.date_select :data_nascimento %>
              </div>
            </div>
          </div>
        <% end %>

        <% if current_user.tipo == 3 %>
          <div class = "tipo_farmacia">
            <div class="control-group">
              <%= f.label :cnpj, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :cnpj, :readonly => true %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="control-group">
          <%= f.label :telefone, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :telefone %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :sexo, :class => 'control-label' %>
          <div class="controls">
            <%= f.select :sexo, User::SEXO, {:prompt => ""}, {:class =>'sexo'} %>
          </div>
        </div>
      </div>
  </fieldset>

  <fieldset class = "endereco">
    <legend>Endereço</legend>
    <div class="well fields">
       <div class="control-group">
            <%= f.label :rua, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :rua %>
            </div>
        </div>
        <div class="control-group">
          <%= f.label :numero, ('Número'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :numero %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :complemento, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :complemento %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :bairro, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :bairro %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :cidade, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :cidade %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :estado, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :estado %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :cep, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :cep %>
          </div>
        </div>
      </div>
  </fieldset>
    <div class="control-group">
      <%= f.submit "Atualizar" , :class => 'btn btn-primary' %>
    </div>
<% end %>

<%= javascript_tag do %>
  $('#user_tipo').change(function(){
    var tipo = <%= current_user.tipo %>;

    if (tipo == 1){
      $('div.tipo_paciente').removeClass("hidden");
      $('div.tipo_paciente').addClass("show");
      $('div.tipo_medico').addClass("hidden");
      $('div.tipo_farmacia').addClass("hidden");
    }
    else if (tipo == 2){
      $('div.tipo_medico').removeClass("hidden");
      $('div.tipo_medico').addClass("show");
      $('div.tipo_paciente').addClass("hidden");
      $('div.tipo_farmacia').addClass("hidden");
    }
    else if (tipo == 3){
      $('div.tipo_farmacia').removeClass("hidden");
      $('div.tipo_farmacia').addClass("show");
      $('div.tipo_medico').addClass("hidden");
      $('div.tipo_paciente').addClass("hidden");
    }
    else{
      $('div.tipo_paciente').addClass("hidden");
      $('div.tipo_medico').addClass("hidden");
      $('div.tipo_farmacia').addClass("hidden");
    }
  }); 
<% end %>