<h1>Usuário</h1>

<p>
  <b>Nome</b><br>
  <%= @user.nome %>
</p>
<p>
  <b>Tipo</b><br>
  <% if @user.tipo == 1 %>
  	Paciente
  <% elsif @user.tipo == 2 %>
  	Médico 
  <% else @user.tipo == 3 %>
  	Farmácia
  <% end %>
</p>

<% if current_user.tipo == 1 %>
<h2>Médicos Autorizados</h2>
<ul>
  <% for medico_autorizado in @user.medicos_autorizados %>
    <li>
      <%= medico_autorizado.medico.nome %>
      (<%= link_to "Remover", medico_autorizado, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Autorizar Médicos", "/medicos" %>

<% end %>

<% if @user.tipo == 2 %>
  <h2>Pacientes Autorizados</h2>
  <% for user in @user.pacientes %>
      <li>
        <%= user.nome %>
      </li>
  <% end %>
<% end %>
