<h1>Listing farmacia</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Id cep</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @farmacia.each do |farmacium| %>
  <tr>
    <td><%= farmacium.nome %></td>
    <td><%= farmacium.id_cep %></td>
    <td><%= link_to 'Show', farmacium %></td>
    <td><%= link_to 'Edit', edit_farmacium_path(farmacium) %></td>
    <td><%= link_to 'Destroy', farmacium, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Farmacium', new_farmacium_path %>
