<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @farmacium.nome %>
</p>

<p>
  <b>Id cep:</b>
  <%= @farmacium.id_cep %>
</p>


<%= link_to 'Edit', edit_farmacium_path(@farmacium) %> |
<%= link_to 'Back', farmacia_path %>
