<h1>Medicamentos</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @medicamentos.each do |medicamento| %>
      <tr>
        <td><%= medicamento.id %></td>
        <td><%= link_to medicamento.nome, medicamento_path(medicamento) %></td>
        <td>
          <%= link_to 'Edit', edit_medicamento_path(medicamento), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', medicamento_path(medicamento), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_medicamento_path, :class => 'btn btn-primary' %>
