<h1>Listar Medicamentos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medicamentos.each do |medicamento| %>
  <tr>
    <td><%= medicamento.nome %></td>
    <td><%= link_to 'Ver', medicamento %></td>
    <td><%= link_to 'Editar', edit_medicamento_path(medicamento) %></td>
    <td><%= link_to 'Remover', medicamento, confirm: 'Confirmar?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Medicamento', new_medicamento_path %>
