<h1>Medicamentos</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @medicamentos.each do |medicamento| %>
      <tr>
        <td><%= medicamento.id %></td>
        <td><%= link_to medicamento.nome, medicamento_path(medicamento) %></td>
        <td>
          <%= link_to 'Editar', edit_medicamento_path(medicamento), :class => 'btn btn-mini' %>
          <%= link_to 'Remover', medicamento_path(medicamento), :method => :delete, :confirm => 'Tem certeza?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo medicamento', new_medicamento_path, :class => 'btn' %>
