<%= form_for(@medicos_autorizado) do |f| %>
  <% if @medicos_autorizado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medicos_autorizado.errors.count, "error") %> prohibited this medicos_autorizado from being saved:</h2>

      <ul>
      <% @medicos_autorizado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :medico_id %><br />
    <%= f.number_field :medico_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
